[Startup]
	ServiceConnectors = "Diva.Wifi.dll:WifiServerConnector"

[Network]
	port = 8080

[DatabaseService]
    StorageProvider = "OpenSim.Data.MySQL.dll"
    ConnectionString = "Data Source=localhost;Database=opensim;User ID=opensim;Password=opensim123;"

[WifiService]
	GridName = "Diva's World"
	LoginURL = "http://localhost:9000"
	WebAddress = "http://localhost:8080"
	
    ;; The "God" account, both for Wifi and Inworld
	AdminFirst = "Admin"
	AdminLast = "Admin"
	AdminEmail = "user@email.com"
	;; no AdminPassword here, it's too unsafe. AdminPassword will be set during installation step

[UserAccountService]

[AuthenticationService]


	
	