[Startup]
	ServiceConnectors = "Diva.Wifi.dll:WifiServerConnector"

[Network]
	port = 8002

[DatabaseService]
    StorageProvider = "OpenSim.Data.MySQL.dll"
    ConnectionString = "Data Source=localhost;Database=opensim;User ID=opensim;Password=opensim123;"

[WifiService]
	GridName = "My World"
	LoginURL = "http://localhost:8002"
	WebAddress = "http://localhost:8002"

	;; The Wifi Administrator account
	AdminFirst = "Admin"
	AdminLast = "Admin"
	AdminEmail = "your@email.com"

	;; Do you want to be able to control grid registrations?
	AccountConfirmationRequired = false

	;; Time interval in seconds for updating statistics data for variables like
	;; UsersInworld, UsersTotal, and RegionsTotal.
	;; Default value 0 disables data updates.
	; StatisticsUpdateInterval = 60

	;; Default avatars for new account registration
	;; Syntax: AvatarAccount_<AvatarType> = "<FirstName> <LastName>"
	;;         (replace spaces in <AvatarType> with underscore)
	;; Appearance and attachments are copied from avatar <FirstName> <LastName>.
	AvatarAccount_Female = "Female Avatar"
	AvatarAccount_Male = "Male Avatar"
	AvatarAccount_Neutral = "Neutral Avatar"

	;; Preselection for default avatar in new account registration
	AvatarPreselection = "Neutral"

	;; Home location for new accounts
	;; If empty or not set, then the selected default avatar's home location is used.
	; HomeLocation = "<RegionName>/<X>/<Y>/<Z>"

	;; Accounts with this or a higher user level are able to create links to
	;; hypergrid regions. Other users are only able to view existing hyperlinks.
	HyperlinkServiceUserLevel = 50
	;; Show everbody's hyperlinks or only global and their own linked regions to users
	HyperlinkServiceUsersSeeAll = true

	;; Variables for your mail server
	;; Users will get email notifications from this account
	SmtpHost = "smtp.gmail.com"
	SmtpPort = "587"
	SmtpUsername = "your_account_in_this_mail_server"
	SmtpPassword = "your_password_in_this_mail_server"

[GridService]
	StorageProvider = "Diva.Data.MySQL.dll"
  
[UserAccountService]
	StorageProvider = "Diva.Data.MySQL.dll"

[AuthenticationService]

[GridUserService]
	StorageProvider = "Diva.Data.MySQL.dll"

;; To use Wifi with SQLite, put WifiSQLite.ini in directory bin/config-include/storage
;; (Robust.exe will not read any includes.)
Include-WifiSQLite = config-include/storage/WifiSQLite.ini